<div class="password-container">

  <div class="password-card">

    <h2>Change Password</h2>

    <input
      type="password"
      placeholder="Current Password"
      [(ngModel)]="currentPassword">

    <input
      type="password"
      placeholder="New Password"
      [(ngModel)]="newPassword">

    <input
      type="password"
      placeholder="Confirm Password"
      [(ngModel)]="confirmPassword">

    <button (click)="changePassword()">
      Update Password
    </button>

  </div>

</div>